<h1>Listing lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Current item</th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%=h list.name %></td>
    <td><%=h list.current_item %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New list', new_list_path %>