<p>
  <b>Name:</b>
  <%=h @list.name %>
</p>

<p>
  <b>Current item:</b>
  <%=h @list.current_item %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Show Items', list_items_path(@list) %>
<%= link_to 'Back', lists_path %>