<h1>Editing item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= link_to_function('Update',
      "document.getElementById('edit_item_#{@item.id}').submit();",
      :class => 'create')%>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item %>
<%= link_to 'Back', list_items_path(@item.list_id) %>