<h1>New item</h1>

<% form_for([@list, @item]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%#= f.label :due %><br />
    <%#= f.date_select :due %>
  </p>
  <p>
    <%= link_to_function 'Create', "document.getElementById('new_item').submit();", :class => 'create' %>
  </p>
<% end %>

<%= link_to 'Back', buttons_lists_path %>