<h1>New item <%= @list ? "for #{@list.name}" : ''%></h1>

<% form_for([@list, @item]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :title, :class => 'title' %>
  </p>
  <p>
    <%= link_to_function 'Create', "document.getElementById('new_item').submit();", :class => 'create' %>
  </p>
<% end %>

<%= link_to 'Back', buttons_page, :class => 'home' %>